body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Rajdhani', sans-serif;
    gap: 20px;
    height: 100vh;
    margin: 0;
  }

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
  }

h1,
h2,
h3,
h4,
h5,
p {
    color: white;
}
h1 {
    font-size: 4rem;
}

.background-image {
	background-image: url('background-image.jpg');
	background-size: cover;
	background-position: center;
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.background-image::after {
	content: '';
	background-color: rgba(12, 12, 12, 0.6);

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
nav {
    margin-left: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 20px;
}

a {
    font-size: 1.3rem;
}

nav ul li a:link,
nav ul li a:visited,
nav ul li a:active {
    text-decoration: none;
    color: #ffd9b0;
  }

nav ul li a:hover {
    text-decoration: none;
    color: #ff8800;
}

  
.main {
    padding: 20px;
  }

.main-1 {
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
  
footer {
    position:absolute;
    bottom:0;
  }

.main-1 a,
.main-1 a:active,
.main-1 a:visited,
.main-1 a:focus {
    background-color:#ffa33a;
    border-color: #ffa33a;
  }
  .main-1 a:hover {
    background-color: #ff8800;
    border-color: #ffa33a;
  }
