{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calisthenics Guru </title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{% static 'favicon.ico' %}" rel="icon" type="image/x-icon">
</head>
<body>
    <div class="background-image"></div>
    <header>
        <h1>Calisthenics Guru</h1>
        <h2>A website devoted to the people behind the sport</h2>
    </header>
    <div class="subheader">
        <nav>
            <ul>
            {% for page in page_list %}
                <li><a href="{{ page.permalink }}">{{ page.title }}</a></li>
            {% endfor %}
            <li><a href="/contact">Contact Us</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'register_user' %}">Register</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
            </ul>
        </nav>
    </div>

    <div class="main-1">
        <h3>Want to find out who is in the Hall Of Fame?</h3>
        <a class="btn btn-primary btn-large" href="/youtubers" role="button">Find out more!</a>
    </div>

    <footer>
        <h2>Photo by kengurupro.eu</h2>
    </footer>
</body>
</html>